h1 {
  margin: 1.5rem auto;
  text-align: center;
}
.get {
  display: block;
  margin: 1.5rem auto;
  width: 20%;
}
.modal {
  position: relative;
  margin: 10rem auto;
  /* border: none; */
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.close {
  position: relative;
  top: -15px;
  left: 180px;
  border: none;
  cursor: pointer;
}
