* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.7) 0%, rgb(255, 165, 0) 100%);
}
.gamePlace {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  margin: 17vh;
  width: 50vw;
  height: 70vh;
  border-radius: 7px;
  gap: 1rem;
}
.gamePlace > div {
  border-radius: 7px;
  color: #fff;
  text-align: center;
}
.gamePlace .score {
  font-size: 3rem;
  margin-top: 5vh;
}
.player_1,
.player_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.player_1 {
  background-image: linear-gradient(45deg, rgb(255, 166, 0.7) 0%, rgba(255, 61, 61, 0.7) 100%);
}
.player_2 {
  background-image: linear-gradient(45deg, rgb(255, 166, 0.7) 0%, rgba(255, 61, 61, 0.7) 100%);
}
.gamePlace h2 {
  font-size: 2rem;
  margin-top: 2vh;
}
.current_1 {
  background-color: rgba(255, 61, 61, 0.7);
}
.current_2 {
  background-color: rgba(255, 166, 0.7);
}
.current_1,
.current_2 {
  padding: 1vw;
  width: 10vw;
  border-radius: 7px;
  margin-top: 30vh;
}
.points {
  vertical-align: baseline;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.game {
  position: absolute;
  top: -9vh;
  left: 50vw;
  z-index: 20;
  transform: translate(-50%, 20%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10vw;
  height: 70vh;
}
h1 {
  font-size: 7rem;
  cursor: pointer;
}
h1:hover::after {
  position: absolute;
  content: 'New Game';
  color: white;
  font-style: italic;
  font-size: 1rem;
  white-space: nowrap;
  top: 0.7rem;
  left: 7rem;
}
button {
  border-radius: 7px;
  border: none;
  width: 100%;
  cursor: pointer;
}
/* .newGame {
  width: 100%;
  color: orangered;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.3rem;
} */
/* .throwCube {
  font-weight: bold;
  padding: 0.3rem;
  font-size: 1.1rem;
  color: rgb(235, 30, 235);
  line-height: 2rem;
  width: 80%;
} */
.cube {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 7vw;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
}
.doted {
  position: relative;
  background-color: black;
  width: 1.1vw;
  height: 1.1vw;
  margin: 0.4rem;
  border-radius: 50%;
}
.doted_1 {
  right: -7vw;
  top: 0;
}
.hidden {
  opacity: 0;
}

.save {
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: left;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3rem;
}
.save span {
  color: rgba(255, 166, 0.7);
}
.save .span {
  color: rgba(255, 61, 61, 0.7);
}
